---
layout: base.liquid
title: projects
---
{%- for project in collections.projects -%}
  {% if project.data.title != "projects" %}
    <a href="{{ project.data.link }}">{{ project.data.title }}</a>
    {{ project.templateContent }}
  {% endif %}
{%- endfor -%}